importFrom(scales, rescale)
importFrom(grDevices, rgb)
importFrom(RColorBrewer, brewer.pal)
importFrom(stats, predict)
importFrom("stats", "aggregate")
importFrom(colorspace, coords, hex, mixcolor)
importFrom(plotrix, color.legend)
importFrom(raster, rotate, shift)
importFrom(sp, coordinates, overlay, bbox, Spatial, SpatialPixels, SpatialPixelsDataFrame, SpatialGrid, SpatialGridDataFrame, spplot, is.projected)
importFrom(aqp, SoilProfileCollection)
importFrom(pixmap, pixmapRGB)
exportClasses(SpatialMetadata, sp.palette, SpatialPhotoOverlay, SpatialPredictions, gstatModel, SpatialVectorsSimulations, RasterBrickSimulations, RasterBrickTimeSeries, SpatialMaxEntOutput, SpatialSamplingPattern)
exportMethods(getCRS, GetNames, GetPalette, kml, kml_layer, reproject, spMetadata, metadata2SLD, plotKML, fit.gstatModel, vect2rast)
exportPattern("^[^\\.]")
