#import(Hmisc)
import(stats, utils, methods)
importFrom("RColorBrewer", brewer.pal)
importFrom("scales", rescale)
importFrom("colorspace", coords, hex, mixcolor, HSV)
importFrom("classInt", classIntervals, findColours)
importFrom("plotrix", color.legend)
importFrom("dismo", maxent)
importFrom("gstat", variogram)
import(zoo)
importFrom("pixmap", pixmapIndexed, pixmapRGB)
importFrom("plyr", aaply, laply, llply, ldply)
importFrom("RSAGA", set.file.extension, rsaga.env, rsaga.get.version, rsaga.geoprocessor)
importFrom("raster", extract, stack, brick, rotate, nlayers, shift, projectRaster, extension, is.factor, as.factor, removeTmpFiles, rasterToPolygons, raster, projection, rasterize, writeRaster, extent, calc, getValues, "values<-", getZ, setZ, minValue, maxValue, image, ncol, nrow, ncell)
import("sp")

import(XML)
import(rgdal)
import(stringr)
import(colorRamps)
import(aqp)
importClassFrom(spacetime, STTDF, STIDF)

exportClasses(SpatialMetadata,
	sp.palette,
	SpatialPhotoOverlay,
	SpatialPredictions,
	SpatialVectorsSimulations,
	RasterBrickSimulations,
	RasterBrickTimeSeries,
	SpatialMaxEntOutput,
	SpatialSamplingPattern)
exportMethods(
	getCRS,
	GetNames,
	GetPalette,
	kml,
	kml_layer,
	kml_metadata,
	reproject,
	spMetadata,
	metadata2SLD,
	plotKML,
	vect2rast)
export(check_projection, parse_proj4)
exportPattern("^[^\\.]")
